html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.text-muted {
  margin: 20px 0;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*width: 800px;*/
}
div .row {
  padding-top: 20px;
}
#details p {
  font-size: 180%;
}
a {
  text-decoration: none;
  color: inherit;
}